$ice-white: #f0f5f3;
$ice-white-disabled: rgba(240, 245, 243, 0.6);
$deep-black: #080808;
$deep-black-hover: #222222;
$gradient-text: hsla(33, 100%, 50%, 1);
$sunset-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);
