@import "../helpers/variables";

.cursor {
  pointer-events: none;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: $ice-white;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition-property: background-color, border-radius, width, height,
    border-top, border-right, border-bottom, transform, opacity, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

// .cursor--spinner {
//   @extend .cursor;
//   background-color: transparent;
//   border-radius: 50%;
//   animation: spinneralt 1s cubic-bezier(0.6, 0, 0.4, 1) infinite;
//   border: 3px solid transparent;
//   border-top-color: $ice-white;
// }

// @keyframes spinneralt {
//   0% {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(359deg);
//   }
// }

.cursor--click {
  transform: scale(0.7);
  opacity: 0.7;
}

.cursor--gradient {
  @extend .cursor;
  //   z-index: 5;
  transition-property: background-color, transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(2);
  background-color: red;
  box-shadow: 0 0 3pt 4pt red;
  // border: 1px solid $ice-white;
}

.hover-this--right:hover ~ .cursor {
  transition-property: border-left, transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  background-color: transparent;
  width: 0;
  height: 0;
  border-radius: 0;
  border-top: 1.25vw solid transparent;
  border-left: 2.5vw solid red;
  border-bottom: 1.25vw solid transparent;
}

.hover-this--left:hover ~ .cursor {
  transition-property: border-right, transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  background-color: transparent;
  width: 0;
  height: 0;
  border-radius: 0;
  border-top: 1.25vw solid transparent;
  border-right: 2.5vw solid red;
  border-bottom: 1.25vw solid transparent;
}

.hover-this--down:hover ~ .cursor {
  transition: border-top 0.4s ease;
  background-color: transparent;
  width: 0;
  height: 0;
  border-radius: 0;
  border-left: 1.25vw solid transparent;
  border-top: 2.5vw solid red;
  border-right: 1.25vw solid transparent;
}

.hover-this--chat:hover ~ .cursor {
  transition-property: width, height, border-radius;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  width: 0.1vw;
  height: 2vw;
  border-radius: 0;
  animation: blink-2 1s ease-in-out infinite both;
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.cursor--modal-hover {
  transform: scale(1.9);
  border: 1px solid $ice-white;
  background-color: transparent;
}

.cursor--chevron-hover {
  transition-property: transform, border, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.75);
  border: 1px solid $ice-white;
  background-color: transparent;
}

.cursor--link {
  box-sizing: border-box;
  background-color: transparent;
  transform: scale(4);
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 20px;
}
.cursor--link::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 5px;
  left: 8px;
}

// .hover-this--chat:hover ~ .cursor {
//   transition-property: width, height, border;
//   transition-duration: 0.4s;
//   transition-timing-function: ease;
//   background-color: $ice-white;
//   width: 5.25vw;
//   height: 3.5vw;
//   // position: relative;
//   -moz-border-radius: 10px;
//   -webkit-border-radius: 10px;
//   border-radius: 10px;
//   &:before {
//     content: "";
//     position: absolute;
//     right: 100%;
//     top: 1.5vw;
//     width: 0;
//     height: 0;
//     border-top: 0.625vw solid transparent;
//     border-right: 1.25vw solid $ice-white;
//     border-bottom: 0.625vw solid transparent;
//   }
// }

// .div[id="cursor"] {
//   background-color: $ice-white;
// }
