@import "breakpoints/breakpoints";

.intro-container {
  // display: visible;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 8;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #080808;
  animation: slide-out-container 2.7s cubic-bezier(0.97, 0.01, 0.36, 0.99) 3.4s;
  animation-fill-mode: forwards;
  // mix-blend-mode: difference;
}

.intro-counter {
  font-family: eurostile-extended, sans-serif;
  font-weight: 900;
  font-size: calc(1rem + 0.1vw);
  align-self: flex-end;
  padding-bottom: 5vh;
  mix-blend-mode: difference;
  color: #f0f5f3;
}

.intro-text-wrapper {
  color: #f0f5f3;
  position: absolute;
  // z-index: 9;
}

.intro-text {
  font-size: calc(2rem + 1.6vw);
}

.intro-safari-wrapper {
  width: 100%;
  text-align: center;
}

.intro-safari-text {
  font-size: calc(1rem + 1.25vw);
}

.text-2,
.text-4,
.text-6,
.text-8 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.5px #f0f5f3;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.text-1 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-2 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-3 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-4 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-5 {
  animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s,
    slide-out 1s linear 3.5s;
  opacity: 0;
}

.text-6 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-7 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-8 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-9 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }

  19% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  39% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }

  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100vh;
    opacity: 1;
  }

  40% {
    height: 100vh;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}

// .right-wipe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   // z-index: 9;
//   height: 0vh;
//   width: 100vw;
//   background: #f0f5f3;
//   mix-blend-mode: difference;
//   animation: right-wipe 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s,
//     right-wipe-out 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 4s;
//   animation-fill-mode: forwards;
// }

// @keyframes right-wipe {
//   0% {
//     height: 0vh;
//   }

//   40% {
//     height: 0vh;
//   }

//   100% {
//     height: 100vh;
//   }
// }

// @keyframes right-wipe-out {
//   0% {
//     height: 100vh;
//   }

//   40% {
//     height: 100vh;
//   }

//   100% {
//     height: 0%;
//   }
// }
