@import "../helpers/variables";
@import "../breakpoints/breakpoints";

.navbar {
  background-color: transparent;
  position: fixed;
  z-index: 6;
  display: flex;
  width: 100vw;
  height: 40px;
  margin: 0 auto;
  padding: 20px 1% 0 1%;
  justify-content: space-between;
  @include media("<=phone") {
    mix-blend-mode: difference;
  }
}
.navbar-index {
  @extend .navbar;
  justify-content: flex-end;
}
.navbar-left {
  display: inline-flex;
  width: 200px;
  // height: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbar-chevron {
  margin-top: -0.3rem;
  fill: $ice-white;
  transform: scale(2.2);
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(2.8);
  }
}
#navbar-title {
  // display: inline;
  height: 100%;
  margin: 0;
  padding-top: 4.5px;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  color: $ice-white;
  white-space: nowrap;
}
.navbar-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.nav-header {
  // display: inline;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.45rem;
  color: $ice-white-disabled;
  // transition: all 0.25s 0s ease;
}
#nav-active {
  color: $ice-white;
}
#nav-inactive:hover {
  color: $ice-white-hover;
}
.navbar-right {
  width: 200px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  // padding-right: 2.5%;
}
.social-link {
  // width: fit-content;
  height: 100%;
}
#linked-in {
  // width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-origin: center;
  transform: scale(1.5);
  &:hover {
    transform: scale(1.7);
  }
}
