@import "../helpers/variables";

.navbar {
  background-color: transparent;
  position: fixed;
  z-index: 6;
  display: flex;
  width: 100vw;
  height: 40px;
  margin: 0 auto;
  padding: 20px 1% 0 1%;
  justify-content: space-between;
}
.navbar-chevron {
  fill: $ice-white;
  transform: scale(2.2);
  transition: 0.2s;
  &:hover {
    transform: scale(2.45);
  }
}
.navbar-left {
  display: inline-flex;
  width: 200px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
#navbar-title {
  display: inline;
  height: 100%;
  margin: 0;
  padding-top: 9px;
  font-family: forma-djr-banner, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.75rem;
  color: $ice-white;
}
.linkedin {
  width: 54px;
  height: 100%;
  padding-right: 2.5%;
  margin: -1% 0 auto auto; 
  transition: 0.2s;
  &:hover {
    transform-origin: center center;
    transform: scale(1.1);
  }
}
