@import "../helpers/variables";
@import "../breakpoints/breakpoints";
$sunset-gradient: linear-gradient(90deg, #d53369 0%, #daae51 100%);

.scroll-wrapper {
  height: 100vh;
  width: 100vw;
  // padding-top: 7.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.about-page {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3fr 1fr 4fr;
  grid-template-columns: 1fr 50%;
  // place-items: center;
}
.about-page-left {
  //   position: relative;
  //   bottom: 5%;
  grid-column-start: 1;
  grid-row: 1 / span 3;
  width: 100%;
  // height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  // border-bottom: 1px solid $ice-white;
}
// #about-me-img {
// width: 100%;
// height: 100%;
// position: absolute;
// top: 0;
// left: 0;
// width: auto;
// }
.about-page-upper-right {
  grid-column: 2;
  position: relative;
  width: 100%;
  padding-top: 5%;
  // height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-between;
  @include media("<=laptop") {
    padding-top: 10%;
  }
}
#about-header {
  // width: 100%;
  text-align: center;
}
.about-page-right-paragraph {
  align-self: flex-end;
  width: 80%;
  // height: 100%;
  // padding-left: 2.5%;
  // padding-top: 2.5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
}
#content-link {
  // transition: 0.8s;
  color: $deep-black;
  text-shadow: -1px -1px 0 $ice-white, 1px -1px 0 $ice-white,
    -1px 1px 0 $ice-white, 1px 1px 0 $ice-white;
  &:hover {
    text-decoration: underline;
    color: $ice-white;
    text-shadow: none;
  }
}
// #about-hr {
//   border: 0;
//   margin: 2.5% auto 0 auto;
//   width: 100%;
//   height: 1px;
//   border-bottom: 1px groove transparent;
// }
.about-page-middle-right {
  grid-row: 2;
  grid-column: 2;
  align-self: start;
  border: 1px solid $ice-white-shadow;
  width: 40%;
  //   align-self: start;
  // background: {
  //   image: $sunset-gradient;
  //   size: 100%;
  //   clip: text;
  //   color: $ice-white;
  // }
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
}
.about-page-lower-right {
  // position: relative;

  // justify-self: center;
  grid-column: 2;
  grid-row: 3;
  margin: 0 auto;
  // padding-top: 10%;
  padding-bottom: 5%;
  width: 90%;
  // padding-right: 1vw;
  // padding-left: 1vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  // grid-auto-rows: 1fr;
  // align-items: end;
  align-items: center;
  justify-items: center;
  // justify-content: center;
  @include media("<=phone") {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: $deep-black;
  }
}
.technologies-list {
  grid-column: 1;
  // justify-self: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  column-gap: 2.5%;
  justify-items: center;
  // align-items: end;
  // width: fit-content;
  // height: fit-content;
}
.tech-list-wrapper {
  grid-column: 1;
  // width: 100%;
  // justify-self: start;
  writing-mode: vertical-rl;
}
#technologies-header {
  // display: flex;
  // justify-content: flex-start;
  // font-style: italic;
  padding: 0.5rem 0.4rem 0 0;
  border-top: 3px outset $ice-white;
  border-right: 4px outset $ice-white;
}
#software-header {
  @extend #technologies-header;
  // height: 100%;
  // padding-bottom: 20%;
  // justify-content: flex-end;
}
#space-filler {
  visibility: hidden;
}
.technology-text {
  // width: 100%;
  margin: 0 auto;
  line-height: 1.1;
  white-space: nowrap;
  // @include media("<xl-desktop") {
  //   line-height: 1.1
  // }
  // color: $deep-black;
  // -webkit-text-stroke: 2px transparent;
  // text-shadow: 3px 3px 0 transparent, -1px -1px 0 transparent,
  //   1px -1px 0 transparent, -1px 1px 0 transparent, 1px 1px 0 transparent;
  // background: {
  //   image: $sunset-gradient;
  //   size: 100%;
  //   clip: text;
  //   color: $ice-white;
  // }
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -moz-text-fill-color: transparent;
}
.software-list {
  @extend .technologies-list;
  grid-column: 2;
  @include media("<=phone") {
    grid-row: 2;
    grid-column: 1;
    padding-top: 10%;
  }
  // height: 100%;
}
.soft-list-wrapper {
  // grid-column: 2;
  writing-mode: vertical-rl;
  // align-self: end;
}
.technologies-content {
  align-self: center;
  // margin: auto 0;
}
.software-content {
  // align-self: start;
  // text-align: start;
  align-self: center;
}
