@import "../helpers/variables";

.contact-page {
  width: 100vw;
  height: 100vh;
  padding-top: 2.5vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 1fr;
  place-items: center;
}
.contact-form {
  grid-row: 2;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 2fr;
  grid-template-columns: 40% 40% 1fr;
  row-gap: 2%;
  place-items: start;
  word-break: break-all;
}

.contact-form-header {
  grid-row: 1;
  grid-column: 1 / span 2;
  color: $deep-black;
  -webkit-text-stroke: 3px transparent;
  text-shadow: 4px 4px 0 transparent, -2px -2px 0 transparent,
    2px -2px 0 transparent, -2px 2px 0 transparent, 2px 2px 0 transparent;
  background: {
    image: $neon-gradient;
    size: 100%;
    clip: text;
    color: $ice-white;
  }
  cursor: default;
}
#wave-emoji {
  margin-left: 10px;
  opacity: 0.9;
}

.error-section {
  grid-row: 1;
  grid-column: 3;
  color: "red";
}

%content-font {
  font: {
    family: eurostile-extended, sans-serif;
    size: calc(1rem + 1.3vw);
    weight: 900;
    style: normal;
  }
  color: $deep-black;
  text-shadow: -1px -1px 0 $ice-white, 1px -1px 0 $ice-white,
    -1px 1px 0 $ice-white, 1px 1px 0 $ice-white;
}

.contact-form-content {
  grid-row: 2;
  grid-column: 1 / span 3;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  transition: 0.2s linear;
  border: 1px solid transparent;
  border-radius: 8px;
  overflow-y: auto;
  @extend %content-font;
  word-break: break-all;
  caret-color: $ice-white;
  background-color: $deep-black;
  line-height: 1;
  border: 0.5px ridge $ice-white-shadow;
}
.contact-form-content::placeholder {
  color: $deep-black;
}
.contact-form-content:hover {
  border: 0.5px ridge $ice-white-disabled;
  background-color: #090909;
}
.name-section {
  grid-row: 3;
  grid-column: 1 / span 2;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.my-name-is {
  @extend %content-font;
  margin-top: 2%;
  padding-left: 2%;
  cursor: default;
}
.email-section {
  @extend .name-section;
  grid-row: 3;
  grid-column: 1;
  justify-self: start;
}
.my-email-is {
  @extend .my-name-is;
}
input[type="text"] {
  grid-row: 3;
  grid-column: 2 / span 2;
  width: 100%;
  height: 100%;
  // margin-right: -2.5%;
  margin-left: 2.5%;
  background-color: transparent;
  justify-self: flex-end;
  border: 0.5px ridge $ice-white-shadow;
  border-radius: 6px;
  font-family: forma-djr-banner, sans-serif;
  font-size: calc(1.2rem + 1vw);
  font-weight: 400;
  color: rgba(240, 245, 243, 0.95);
  line-height: 1;
  // transition: 0.3s ease;
  &:hover {
    background-color: #121212;
  }
  &:focus {
    outline: none;
    background-color: #121212;
    border: 1px ridge $ice-white-disabled;
  }
}
#send {
  font-size: 1.25rem;
  grid-row: 4;
  grid-column: 2;
  align-self: end;
  @include media("<=laptop") {
    font-size: calc(0.75rem + 1vw);
  }
}
